<h1><%= @machine.location %> Vending Machine</h1>

<% @machine.snacks.each do |snack| %>
  <section id="snack-<%= snack.id %>">
    <h4> <%= snack.name %> </h4>
    <p> <%= snack.formatted_price %></p>
  </section>
<% end %>

<h5>Average Snack Price: <%= @machine.avg_snack_price %> </h5>
